/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #121212;
  color: #f2f2f2;
}

header {
  padding: 10px;
  background: #333;
  color: #fff;
}

#status-section {
  margin: 20px 0;
}

#status-text {
  font-size: 18px;
  font-weight: bold;
}

#admin-section {
  margin: 20px auto;
  padding: 15px;
  max-width: 400px;
  border: 1px solid #555;
  background-color: #333;
}

#admin-section input {
  padding: 10px;
  width: 70%;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
}

#admin-section button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  border-radius: 5px;
}
